<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.0</string>
	<key>CFBundleDisplayName</key>
	<string>PixUl8</string>
	<key>CFBundleIdentifier</key>
	<string>com.mattstark.pixul8</string>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>PixUl8</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Please allow PixUl8 access to your camera feed so that pictures can be taken with the app</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Please allow PixUl8 access to your photo library so that it can save captured photos to your device</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please allow PixUl8 access to your photo library so that it can save captured photos to your device</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please allow PixUl8 access to your photo library so that it can save captured photos to your device</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>Get Show.tff</string>
	</array>
</dict>
</plist>
